#main-site-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: sticky; */
  margin-top: 120px;
  /* z-index: -1; */
  height: 400px;
  width: 100%;
  background-image: url("/images/black-linen.png");
  background-color: green;
}

#main-site-header div {
  color: #FFFFFF;
}