#main-site-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  height: 400px;
  width: 100%;
  background-image: url("/images/black-linen.png");
  background-color: green;
}

#main-site-header div {
  color: #FFFFFF;
}

@media only screen and (min-width: 1024px) {
  #main-site-header {
    margin-top: 6.75em;
    width: 25%;
    min-width: 390px;
    max-width: 450px;
  }

  #main-site-header img {
    margin-top: 1em;
  }
}