.new-tweet {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tweet-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

form label {
  font-weight: 600;
}

.tweet-text {
  resize: none;
  height: 1.5em;
  border: none;
  border-bottom: 3px solid #545149;;
  scroll-behavior: auto;
  background-color: inherit;
  margin-bottom: 0.5em;
}

.tweet-text:focus {
  outline: none;
}

.tweet-submit-count {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
}

.tweet-button {
  background-color: #4056A1;
  color: #FFFFFF;
  border-radius: 3px;
}

.tweet-button:hover {
  color: #4056A1;
  background-color: #FFFFFF;
  box-shadow: 5px 5px #888888;
}