.posted-tweets {
  display: flex;
}

section.posted-tweets {
  flex-direction: column;
  align-items: center;
  margin: 2em 0em;
  width: 100%;
}

article.posted-tweets {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 3px solid #545149;
  padding: 1em 0em;
  margin-bottom: 2em;
  width:100%;
}

article.posted-tweets * {
  font-weight: 600;
}

article.posted-tweets:hover {
  box-shadow: 5px 5px #888888;
  transition: 0.4s;
}

header.posted-tweets {
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
}

header.posted-tweets .user {
  flex-direction: row;
  justify-content: space-between;
}

header.posted-tweets div.user div {
  padding-left: 1em;
  font-weight: 300;
}

header.posted-tweets div.handle {
  color: grey;
}

hr.posted-tweets-separator {
  border: 2px solid #545149;
  width: 97%;
  margin-bottom: 2px;
}

main.posted-tweets {
  width: 95%;
  height: auto;
  padding-top: 25px;
  word-break: break-all;
}

footer.posted-tweets {
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
}

footer.posted-tweets time {
  font-size: 24px;
  font-weight: 300;
  color: grey;
}

footer.posted-tweets div.icons i.fas {
  color: rgb(102, 18, 180);
}

footer.posted-tweets div.icons i.fas:hover {
  color: goldenrod;
}

footer.posted-tweets div.icons {
  align-items: center;
}